<mat-sidenav-container class="sidebar-container" [class.closed]="!isOpen">
  <mat-sidenav mode="side" opened="true" class="sidebar">
    <div class="sidebar-header">
      <mat-icon class="sidebar-logo">science</mat-icon>
      @if (isOpen) {
        <h3>Centre de Recherche</h3>
      }
    </div>

    <mat-nav-list>
      @for (item of visibleMenuItems; track item.route) {
        <a mat-list-item [routerLink]="item.route" routerLinkActive="active">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          @if (isOpen) {
            <span matListItemTitle>{{ item.label }}</span>
          }
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
